.callback-form form {
  display: grid;
  grid-template-columns: 47% 47%;
  column-gap: 30px;
  row-gap: 20px;

  @media (max-width: 1023px) {
    grid-template-columns: 48% 48%;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.callback-form--modal form {
  display: flex;
  flex-direction: column;

  font-family: "PT Mono", "Arial", "Helvetica", sans-serif;
}

.callback-form input[type="text"],
.callback-form input[type="tel"],
.callback-form textarea {
  padding: 15px;
  border: none;
  border-radius: 3px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: rgba(4, 20, 39, 0.15);

  &::placeholder {
    color: #ffffff;
  }
}

.callback-form textarea {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  margin-bottom: 15px;
  padding: 25px 15px;

  @media (max-width: 1023px) {
    padding-top: 29px;
    padding-bottom: 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
    padding-top: 22px;
    padding-bottom: 52px;
  }
}

.callback-form--modal textarea {
  margin-bottom: 5px;
}

.callback-form button {
  width: 100%;
  padding: 13px 25px;
  border: none;
  border-radius: 3px;

  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;

  background-color: #041427;

  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #052d4b;
  }

  @media (max-width: 1023px) {
    width: 83%;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 5px;
  }
}

.callback-form--modal button {
  @media (max-width: 1023px) {
    width: 100%;
  }
}

.callback-form__checkbox-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  grid-row: 3 / 4;
  grid-column: 2 / 3;
  align-self: end;

  margin-left: 11px;
  padding-left: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  color: #ffffff;

  @media (max-width: 1023px) {
    margin-bottom: 5px;
    margin-left: 0;
  }

  @media (max-width: 767px) {
    margin-left: 5px;
  }

  &--modal {
    margin-left: 9px;
  }
}

.callback-form input[type="checkbox"] + label::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  border: 1px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.callback-form input[type="checkbox"]:hover + label::before,
.callback-form input[type="checkbox"]:focus + label::before {
  background-color: #052d4b;
}

.callback-form input[type="checkbox"]:hover + label,
.callback-form input[type="checkbox"]:focus + label {
  color: #052d4b;

  cursor: pointer;
}

.callback-form--modal input[type="checkbox"] + label::before {
  top: 0;
  left: -2px;
}

.callback-form input[type="checkbox"]:checked + label::before {
  background-image: url("../../img/icons/icon-check-mark.svg");
  background-size: 9px 6px;
  background-repeat: no-repeat;
  background-position: 20% 50%;
}
