.footer {
  background-color: #041827;
  color: rgba(255, 255, 255, 0.7);
}

.footer__container {
  display: flex;
  padding: 49px 0 36px 0;

  @media (max-width: 1919px) {
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (max-width: 1023px) {
    display: grid;
    grid-template-columns: 324px 324px;
    padding: 50px 45px 55px 50px;
  }

  @media (max-width: 767px) {
    display: block;
    width: 100%;
    padding: 35px 0;
  }
}

.footer__logo-social-wrapper {
  margin-right: 160px;

  @media (max-width: 1919px) {
    margin-right: auto;
  }

  @media (max-width: 1023px) {
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 0;
    margin-bottom: 35px;
  }

  @media (max-width: 767px) {
    flex-direction: column;

    width: 320px;
    margin: 0 auto 21px;
  }
}

.footer__logo-icon {
  margin-bottom: 28px;

  @media (max-width: 1023px) {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 18px;
  }
}

.footer__social {
  margin-left: 10px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
}

.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  margin-right: 15px;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social-link {
  display: block;
}

.footer__social-icon:hover {
  border: 2px solid #00b3ff;
  border-radius: 50%;
}

.footer__site-navigation {
  padding-top: 8px;
  overflow: hidden;

  @media (max-width: 1919px) {
    margin-left: 30px;
  }

  @media (max-width: 1023px) {
    margin: 0;
    padding-top: 0;
  }

  @media (max-width: 767px) {
    position: relative;
    padding: 22px 0;

    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: 767px) {
    width: 320px;
    margin: 0 auto;
    padding: 0 25px;
  }
}

.footer__link {
  color: inherit;
  line-height: 21px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
  }

  &:hover {
    color: #ffffff;
  }
}

.footer__site-navigation-list {
  column-count: 2;

  height: 150px;

  @media (max-width: 1023px) {
    column-count: 1;

    height: auto;
  }

  @media (max-width: 767px) {
    display: block;

    width: 320px;
    margin: 15px auto 0;
    padding: 0 25px;
  }
}

.footer__site-navigation-item {
  max-width: 220px;
  margin-right: 14px;
  margin-bottom: 5px;

  @media (max-width: 1919px) {
    width: 200px;
    margin-left: auto;
  }

  @media (max-width: 1023px) {
    width: 220px;
    margin: 0;
    margin-bottom: 6px;
  }

  @media (max-width: 767px) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__contacts-wrapper {

  @media (max-width: 767px) {
    display: block;
    width: 320px;
    margin: 15px auto 0;
    padding: 0 25px;
  }
}

.footer__contacts {
  width: 345px;
  margin-left: auto;
  padding-top: 8px;

  @media (max-width: 1919px) {
    width: 245px;
    margin-left: auto;
  }

  @media (max-width: 1023px) {
    width: auto;
    margin-left: 0;
    padding-top: 0;
  }

  @media (max-width: 767px) {
    position: relative;
    padding: 20px 0;

    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__contacts-address {
  margin: 0;
  margin-bottom: 4px;

  color: inherit;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.footer__contacts-phone-item {
  margin-bottom: 6px;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.footer__site-navigation-toggle,
.footer__contacts-toggle {
    display: none;

  @media (max-width: 767px) {
  position: absolute;
  top: 20px;
  right: 26px;

  display: block;
  width: 15px;
  height: 15px;
  border: none;

  background-color: inherit;
  }
}

.is-close .footer__site-navigation-toggle,
.is-close .footer__contacts-toggle {

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 0;

    width: 15px;
    height: 1px;

    background-color: #fff;

    cursor: pointer;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.is-open .footer__site-navigation-toggle,
.is-open .footer__contacts-toggle {

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 0;

    width: 15px;
    height: 1px;

    background-color: #fff;
  }
}

.is-close .footer__site-navigation-list,
.is-close .footer__contacts-wrapper {
  @media (max-width: 767px) {
    display: none;
  }
}

.no-js .footer__site-navigation-list,
.no-js .footer__contacts-wrapper {
  @media (max-width: 767px) {
    display: block;
  }
}

.no-js .footer__site-navigation-toggle,
.no-js .footer__contacts-toggle {
  @media (max-width: 767px) {
    display: none;
  }
}
