.services {
  background-color: #041827;
}

.services__container {
  padding: 67px 0 143px;

  @media (max-width: 1919px) {
    padding: 70px 30px 140px;
  }

  @media (max-width: 1023px) {
    padding: 57px 50px 77px;
  }

  @media (max-width: 767px) {
    padding: 47px 25px 86px;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 54px;

  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #ffffff;

  &--mobile {
    display: none;
  }

  @media (max-width: 1023px) {
    margin-bottom: 39px;
  }

  @media (max-width: 767px) {
    display: none;

    &--mobile {
      display: block;

      width: 250px;
      margin-bottom: 29px;

      font-size: 28px;
      line-height: 39px;
    }
  }
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;

  margin: 0;
  padding: 0;

  @media (max-width: 1023px) {
    flex-direction: column;
    gap: 0;
  }

  @media (min-width: 620px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 270px 270px;

    width: 570px;
    margin: 0 auto;
  }
}

.services__item {
  position: relative;
  z-index: 1;

  width: 28.6%;

  cursor: pointer;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;

    content: "";
    width: 60px;
    height: 60px;

    background-color: #00b2ff;
    background-image: url("../img/icons/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 1023px) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    width: 270px;
    margin: 0 auto;

    &::after {
      width: 40px;
      height: 40px;
    }
  }
}

.services__item-title {
  position: absolute;
  top: 47px;
  left: 40px;
  width: 170px;
  margin: 0;

  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;

  @media (max-width: 1023px) {
    top: 37px;
    left: 45px;
  }

  @media (max-width: 767px) {
    top: 26px;
    left: 30px;

    font-size: 18px;
  }
}

.services__item-link {
  display: block;

  &:hover {
    box-shadow: 2px 2px #00b2ff;
  }
}
